<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"
    />
    <title>死外边，从这儿跳下去，不会吃你们一点东西！- 开源的动图生成器</title>
    <link rel="stylesheet" href="/lib/bulma-0.7.4/bulma.min.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <script defer src="/js/base.js"></script>
    <script defer src="/lib/fontawesome-5.7.2/all.min.js"></script>
  </head>

  <body>
    <div id="root">
      <nav
        class="navbar has-shadow"
        role="navigation"
        aria-label="main navigation"
      >
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
              <img src="/logo.png" />
            </a>

            <a
              role="button"
              class="navbar-burger burger"
              aria-label="menu"
              aria-expanded="false"
              data-target="navbarBasicExample"
            >
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item" href="/guide">
                <span class="icon has-text-primary">
                  <i class="fas fa-book-reader"></i>
                </span>
                <span>
                  指南
                </span>
              </a>

              <a class="navbar-item" href="#">
                <span class="icon">
                  <i class="fas fa-cloud-upload-alt" style="color:#2994C5"></i>
                </span>
                <span>
                  上传
                </span>
              </a>

              <a
                class="navbar-item"
                target="_blank"
                href="https://github.com/Hentioe/zhenxiang/issues"
              >
                <span class="icon">
                  <i class="fas fa-info-circle" style="color:#1C9B5C;"></i>
                </span>
                <span>
                  帮助
                </span>
              </a>

              <a class="navbar-item" href="/api">
                <span class="icon">
                  <i class="fas fa-rss-square" style="color:#719B1C;"></i>
                </span>
                <span>
                  接口
                </span>
              </a>
            </div>

            <div class="navbar-end">
              <a
                class="navbar-item"
                href="https://github.com/Hentioe/zhenxiang"
                target="_blank"
              >
                <span class="icon" style="color: #333;">
                  <i class="fab fa-lg fa-github-alt"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
      </nav>
      <div class="container">
        <%= content %>
      </div>
      <footer class="footer">
        <div class="content has-text-centered">
          <p>
            真香蛋炒饭，是出自《变形计》王境泽撂下狠话，后面又啪啪打脸的搞笑情节，因千奇百怪的表情套图而被广为流传。现在您可以通过本站轻松制作更高级的动态图片。
          </p>
          <p>
            本站将持续收录各种有趣的视频模板，并提供以图形自动化生成字幕的免费服务。如果你有相关需求，强烈建议前来<a
              href="https://github.com/Hentioe/zhenxiang/issues"
              >贡献</a
            >。
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
